.jumbotron{
    background-color: yellowgreen;
    color: black;
}

.footer{ 
    padding: 10px 10px 0 10px;
    background-color: yellowgreen;
   

}

.card-hotel{
    flex: 1 150px;
    padding: 5px 5px 5px 5px;
}
.btn-reserva{
    width: 100%;
}